<form class="snep_form simple_form" enctype="multipart/form-data"
	action="/snep/index.php/smartmedia/upload/add/id/<?=$this->id?>"
	method="post">
	<table>
		<tbody>
			<tr>
				<th id="description-label"><label for="description" class="required"><?php echo $this->translate('Descrição')?></label></th>
				<td><input type="text" name="description" id="description" value="">
				</td>
			</tr>
			<tr>
				<th id="file-label"><label for="file" class="required"><?php echo $this->translate('Arquivo')?></label></th>
				<td><input type="file" name="file" id="file"></td>
			</tr>
			<tr>
				<td class="form_control_left"><input type="submit" name="submit"
					id="submit" value="Salvar"></td>
				<td class="form_control_right">
					<button name="cancel" id="cancel" type="button"
						onclick="location.href='javascript:history.back();'"><?php echo $this->translate('Cancelar')?></button>
				</td>
			</tr>
		</tbody>
	</table>
</form>
