<?php
$this->headLink ()->appendStylesheet ( $this->baseUrl () . "/css/index.css" );
echo $this->render ( 'filter.phtml' );
?>
<?php if( $this->errors['error'] == 1 ) : ?>
<div class="error_box">
	<?php echo nl2br($this->errors['message']); ?>
</div>
<?php endif ?>

<div class="content">
	<table cellspacing="0" cellpadding="0" border="0" align="center"
		width="100%">
		<thead>
			<tr>
				<th> <?php echo $this->translate('Id') ?> </th>
				<th> <?php echo $this->translate('Description') ?> </th>
				<th> <?php echo $this->translate('Name') ?> </th>
				<th> <?php echo $this->translate('fullPath') ?> </th>
				<th class="action" colspan="2"> <?php echo $this->translate('Ações') ?> </th>
			</tr>
		</thead>
		<tbody>
 		<?php
			$c = 0;
			if ($this->files) :
				foreach ( $this->files as $id => $file ) :
						?>
				<?php ($c ? $c = 0 : $c = 1 ); ?>
				<tr class="c<?php echo $c ?>">
					<td><b> <?php echo $file['id'] ?> </b></td>
					<td>     <?php echo $file['description'] ?>      </td>
					<td>     <?php echo $file['name'] ?>      </td>
					<td>
						<audio controls="controls">
							<source src='<?php echo $file['fullPath'] ?>' type="audio/mpeg" />
						</audio>
					</td>
					<td class="action">
						<a class="alterar"
							href="<?php echo $this->url ?>edit/id/<?php echo $file['id'] ?>/group/<?php echo $this->group?>">
							<?php echo $this->translate('Alterar')?>
						</a>
					</td>
					<td class="action">
						<a class="excluir"
							href="<?php echo $this->url ?>remove/id/<?php echo $file['id'] ?>/group/<?php echo $this->group?>">
							<?php echo $this->translate('Remover')?>
						</a>
					</td>
				</tr>
				<?php endforeach ?>
		<?php endif ?>
	</table>
</div>
<?php echo $this->render('pagination.phtml')?>