<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/index.css" );
echo $this->render('filter.phtml');
?>
<?php if( $this->errors['error'] == 1 ) : ?>
    <div class="error_box">
       <?php echo nl2br($this->errors['message']); ?>
    </div>
<?php endif ?>

<div class="content">
    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" >
       <thead>
          <tr>
             <th> <?php echo $this->translate('Code') ?> </th>
             <th> <?php echo $this->translate('Name') ?> </th>             
             <th> <?php echo $this->translate('Host') ?> </th>             
             <th> <?php echo $this->translate('Group') ?> </th>             
             <th class="action" colspan="2"> <?php echo $this->translate('Ações') ?> </th>
          </tr>
       </thead>
       <tbody>
        <?php
        $c = 0;
        if($this->clients) :
            foreach($this->clients as $id => $gate ): ?>
                <?php ($c ? $c = 0 : $c = 1 ); ?>
                <tr class="c<?php echo $c ?>">
                    <td> <b> <?php echo $gate['id'] ?> </b> </td>
                    <td>     <?php echo $gate['name'] ?>      </td>
                    <td>     <?php echo $gate['host'] ?>      </td>
                    <td>     <?php echo $gate['group'] ?>      </td>
                    <td class="action">
                        <a class="alterar" href="<?php echo $this->url ?>edit/id/<?php echo $gate['id'] ?>">
                            <?php echo $this->translate('Alterar')?>
                        </a>
                    </td>
                    <td class="action">
                        <a class="excluir" href="<?php echo $this->url ?>remove/id/<?php echo $gate['id'] ?>">
                            <?php echo $this->translate('Remover')?>
                        </a>
                    </td>
                </tr>
            <?php endforeach ?>
        <?php endif ?>
    </table>
</div>

<?php echo $this->render('pagination.phtml') ?>
